<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ChatApp, <%= @user.username %></h1>
    <p>
      You have sent <%= @sent_messages %> messages this week,
      and received <%= @received_messages %> messages this week<br>
    </p>
    <p>Thanks for joining ChatApp and have a great day!</p>
  </body>
</html>
