<p>
    <h1>Profile Details<h1>
    <p><h3>Name: <%= @user.username %></p></h3>
    <p><h3>Email: <%= @user.email %></p></h3>
    <p><h3>Number of messages until now: <%= @user.messages.count %></p></h3>
</p>